@font-face {
  font-family: 'IRANSans';
  src: url('../../public/IRANSansWeb.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IRANSans', sans-serif;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out both;
}
